* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.self-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.login,
.register,
.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7), -5px -5px 8px rgba(0, 0, 0, 0.7);
  padding: 30px;
  transform: translate(-50%, -50%);
}
input[type="text"],
input[type="password"],
input[type="email"],
.radio,
select {
  display: block;
  padding: 3px 5px;
  border-top: 0px;
  border-bottom: 1px solid black;
  border-right: 0px;
  border-left: 0px;
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
  font-style: italic;
}
button {
  border: 1px solid black;
  width: 100%;
  background: black;
  color: whitesmoke;
  transition: 0.4s ease all;
  padding: 8px 12px;
}
hr {
  border: none;
  height: 1px;
  background: #555555;
  margin: 20px 0;
}
input:focus,
select:focus {
  outline: none;
}
button:hover {
  background: whitesmoke;
  color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.mot {
  text-align: center;
}
.mot a {
  color: red;
}
.small {
  font-size: 14px;
  color: #777777;
  margin-top: 12px;
}
.split {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.right,
.left {
  flex-basis: 45%;
}
.radio {
  border-bottom: none;
  color: #777777;
  font-style: italic;
  font-family: sans-serif;
  font-size: 14px;
}
.btn {
  display: flex;
  justify-content: flex-end;
}
.btn button {
  flex-basis: 50%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style: none;
  margin-bottom: 0px;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a, .logo a {
  text-decoration: none;
  color: #555555;
}
p {
  color: #555555;
}
.rounded-circle {
    height: 40px;
    width: 40px;
}
.dropdown-item{
  color: #f5f5f5;
}
.header{
  background: #343a40;
}

.header a{
  color: #f5f5f5;
}
.dropdown-toggle:hover{
  text-decoration: none;
}
.dropdown-menu{
  margin-top: 6px;
}



@media only screen and (max-width: 480px) {
  .login,
  .register {
    width: 300px;
  }
  nav{
    text-align: left;
  }
  .logo{
    display: none;
  }
}
@media only screen and (max-width: 550px){
  nav{
    text-align: left;
  }
  .logo{
    display: none;
  }
}
