{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% if student_form %}
		<form method="post" action="{% url 'inscription' %}" enctype="multipart/form-data" >
			{% csrf_token %}
			{{ student_form.as_p }}
			<button  type="submit">Inscirption</button>
		</form>
	{% endif %}

	{% if connexion_form %}
		<form method="post" action="{% url 'connexion' %}" >
			{% csrf_token %}
			{{ connexion_form.as_p }}
			<button  type="submit">Connexion</button>
		</form>
	{% endif %}

	
	{% if token_form %}
		<form method="post" action="{% url 'payement' %}" >
			{% csrf_token %}
			{{ token_form.as_p }}
			<button  type="submit">Payer</button>
		</form>
	{% endif %}
</body>
</html>