{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/4.5.0/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style type="text/css">
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
	<title>Page d'acceuil</title>
</head>
<body>
  {% block navbar %}
    
	 <div class="header">
        <div class="container-fluid">
            <div class="navbar">
                <div class="logo">
                    <a href="home.html">
                        <h1>
                            Minos
                        </h1>
                    </a>
                </div>
                <nav>
                    <ul id="menuItems">
                        <li><a href="{% url "home" %}">Page d'acceuil</a></li>
                        <li><a href="{% url "payements" %}">Payements</a></li>
                        <li><a href="{% url "information" %}">Infos</a></li>
                        {% if user.is_superuser %}
                          <li><a href="#">Admin</a></li>
                        {% endif %}
                        
                </nav>
                <div class="dropdown">
                    <a href="javascript:void(0)" class='dropdown-toggle' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="{{student.avatar.url}}" alt="" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-dark">
                        <a href="" class="dropdown-item">Profile</a>
                        <a href="" class="dropdown-item">Parametres</a>
                        <a href="" class="dropdown-item">Deconnexion</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    {% endblock navbar %}

    {% block content %}
          
      <main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
          <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">Punny headline</h1>
            <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
            <button name="alreadypaid" class="bg-black" data-toggle="modal" data-target="#payNowModal">
                                  Payer avec Interbank Ici !
                                  </button>
            <br>
            <button type="button" class="bg-black" data-toggle="modal" data-target="#alreadyPaidModal">
                                Dejà payé ? Cliquez Ici !
                              </button>
          </div>
          <div class="product-device shadow-sm d-none d-md-block"></div>
          <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
      </main>


    {% endblock content %}

    {% block footer %}
      <footer class="container py-5">
        <div class="row">
          <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
          </div>
        </div>
      </footer>
    {% endblock footer %}

            <!-- The 1st Modal -->
            <div class="modal" id="payNowModal">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">InterBank Burundi</h4>
                     <span type="button" class="close" data-dismiss="modal" aria-label="Close">x</span>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                        <form method="post" action="." autocomplete="false">
                          {% csrf_token %}
                            {{bank_pay_form.bank}}
                            {{bank_pay_form.account_number}}
                            {{bank_pay_form.account_holder}}
                            {{bank_pay_form.paid_amount}}
                            {{bank_pay_form.motif}}
                            <input type="submit" class="btn btn-primary" name="payer" value="Payer">
                        </form>
                  </div>

                </div>
              </div>
            </div>

            <!-- The 2st Modal -->
            <div class="modal" id="alreadyPaidModal">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Vos informations</h4>
                     <span type="button" class="close" data-dismiss="modal" aria-label="Close">x</span>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                        <form  method="post" action="." autocomplete="false" enctype="multipart/form-data">
                          {% csrf_token %}
                            {{already_paid_form.num_recu}}
                            {{already_paid_form.montant_paye}}
                            {{already_paid_form.motif}}
                            {{already_paid_form.bordereau_blanc}}
                            {{already_paid_form.bordereau_rose}}
                            {{already_paid_form.date_paye}}
                            <input type="submit" name="deja_paye" value="Envoyer">
                        </form>
                  </div>

                </div>
              </div>
            </div>


    <script src="{% static 'jquery/3.5.1/jquery.min.js' %}"></script>
    <script src="{% static 'ajax/popper.js/1.16.0/umd/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/4.5.0/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bundle/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'minos.js' %}"></script>
</body>
</html>