{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/4.5.0/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<title>Page d'acceuil</title>
</head>
<body>
  {% block navbar %}
    
	 <div class="header">
        <div class="container-fluid">
            <div class="navbar">
                <div class="logo">
                    <a href="home.html">
                        <h1>
                            Minos
                        </h1>
                    </a>
                </div>
                <nav>
                    <ul id="menuItems">
                        <li><a href="home.html">Page d'acceuil</a></li>
                        <li><a href="">Payements</a></li>
                        <li><a href="">Historique</a></li>
                </nav>
                <div class="dropdown">
                    <a href="javascript:void(0)" class='dropdown-toggle' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="{{student.avatar.url}}" alt="" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-dark">
                        <a href="" class="dropdown-item">Profile</a>
                        <a href="" class="dropdown-item">Parametres</a>
                        <a href="" class="dropdown-item">Deconnexion</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    {% endblock navbar %}

    {% block content %}
          
        
      <div class="container border my-5 py-5">
          <div class="row">
              <div class="col-lg-4">
                  <div class="bg-secondary text-white p-3">
                    <button  type="button" class="bg-success">
                        <a href="{% url "validated" %}">Validé </a><span class=" ml-3 badge badge-light">4</span>
                      </button>
                      <button type="button" class="bg-warning">
                        <a href="{% url "pending" %}">En attente</a> <span class=" ml-3 badge badge-light">4</span>
                      </button>
                      <button type="button" class="bg-danger">
                        Litiges <span class=" ml-3 badge badge-light">4</span>
                      </button>
                  </div>
              </div>
              <div class="col-lg-8 px-3">
                  <h4 class="mb-3">Minos est une application web qui apporte un solution dans le payement des minervels et leur validation en evitant des fils d'attentes à la comptabilite ansi que leur pertes</h4>
                  
                  <center>
                    <div class="row ">
                      <div class="col">
                          <button name="alreadypaid" class="bg-black" data-toggle="modal" data-target="#payNowModal">
                            Payer avec Interbank
                            </button>
                      </div>
                      <div class="col">
                         <button type="button" class="bg-black" data-toggle="modal" data-target="#alreadyPaidModal">
                          Dejà payé ? Cliquez Ici !
                        </button>
                      </div>
                      <div class="col"></div>
                    </div>
                  </center>
              </div>
          </div>
      </div>
    {% endblock content %}

            <!-- The 1st Modal -->
            <div class="modal" id="payNowModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">InterBank Burundi</h4>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                        <form method="post" action="." autocomplete="false">
                          {% csrf_token %}
                            {{bank_pay_form.bank}}
                            {{bank_pay_form.account_number}}
                            {{bank_pay_form.account_holder}}
                            {{bank_pay_form.paid_amount}}
                            {{bank_pay_form.motif}}
                            <input type="submit" class="btn btn-primary" name="payer" value="Payer">
                        </form>
                  </div>

                </div>
              </div>
            </div>

            <!-- The 2st Modal -->
            <div class="modal" id="alreadyPaidModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Vos informations</h4>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                        <form  method="post" action="." autocomplete="false" enctype="multipart/form-data">
                          {% csrf_token %}
                            {{already_paid_form.num_recu}}
                            {{already_paid_form.montant_paye}}
                            {{already_paid_form.motif}}
                            {{already_paid_form.bordereau_blanc}}
                            {{already_paid_form.bordereau_rose}}
                            {{already_paid_form.date_paye}}
                            <input type="submit" name="deja_paye" value="Envoyer">
                        </form>
                  </div>

                </div>
              </div>
            </div>


    <script src="{% static 'jquery/3.5.1/jquery.min.js' %}"></script>
    <script src="{% static 'ajax/popper.js/1.16.0/umd/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/4.5.0/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'minos.js' %}"></script>
</body>
</html>