{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/4.5.0/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<title>Page d'acceuil</title>
</head>
<body>
	 <div class="header">
        <div class="container-fluid">
            <div class="navbar">
                <div class="logo">
                    <a href="home.html">
                        <h1>
                            Minos
                        </h1>
                    </a>
                </div>
                <nav>
                    <ul id="menuItems">
                        <li><a href="home.html">Page d'acceuil</a></li>
                        <li><a href="">Payements</a></li>
                        <li><a href="">Historique</a></li>
                </nav>
                <div class="dropdown">
                    <a href="javascript:void(0)" class='dropdown-toggle' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="{{student.avatar.url}}" alt="" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-dark">
                        <a href="" class="dropdown-item">Profile</a>
                        <a href="" class="dropdown-item">Parametres</a>
                        <a href="" class="dropdown-item">Deconnexion</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>

        
        <div class="container my-5 py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="bg-secondary text-white p-5">
                      <button type="button" class="bg-success">
                          Validé <span class=" ml-3 badge badge-light">4</span>
                        </button>
                        <button type="button" class="bg-warning">
                          En attente <span class=" ml-3 badge badge-light">4</span>
                        </button>
                        <button type="button" class="bg-danger">
                          Validé <span class=" ml-3 badge badge-light">4</span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-8 px-3">
                    <h4 class="mb-3">Minos est une application web qui apporte un solution dans le payement des minervels et leur validation en evitant des fils d'attentes à la comptabilite ansi que leur pertes</h4>
                    <form class="m-3" >
                        <div class="row ">
                          <div class="col">
                              <button type="button" class="bg-black" data-toggle="modal" data-target="#payNowModal">
                                Payer avec Interbank
                                </button>
                          </div>
                          <div class="col">
                             <button type="button" class="bg-black" data-toggle="modal" data-target="alreadyPayModal">
                              Dejà payé ? Cliquez Ici !
                            </button>
                          </div>
                          <div class="col"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- Contact Section end -->

    <!-- Modal start section -->
    <!-- Button to Open the Modal -->
            

            <!-- The 1st Modal -->
            <div class="modal" id="payNowModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">InterBank Burundi</h4>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                        <form action="">
                            <input type="text" name="" id=""  placeholder="Nom">
                            <input type="text" name="" id=""  placeholder="Prenom">
                            <input type="number" name="" id=""  placeholder="Numero réçu">
                            <input type="number" name="" id="" placeholder="Monant">
                            <button type="submit">Payer</button>
                        </form>
                  </div>

                </div>
              </div>
            </div>


    <script src="{% static 'jquery/3.5.1/jquery.min.js' %}"></script>
    <script src="{% static 'ajax/popper.js/1.16.0/umd/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/4.5.0/js/bootstrap.min.js' %}"></script>
</body>
</html>