{% extends "home.html" %}
{% block content %}
<div class="container border">
	<nav class="nav nav-pills nav-fill">
	  <a class="nav-item nav-link" href="{% url "payements" %}">Tout</a>
	  <a class="nav-item nav-link" href="{% url "pending" %}">Non validé</a>
	  <a class="nav-item nav-link" href="{% url "validated" %}">Validé</a>
	  <a class="nav-item nav-link" href="{% url "errors" %}">Litiges</a>
	</nav>
</div>

{% if payements %}
<div class="container">
  <h2 class="m-3">Tout ...</h2>
  <hr>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>          
  <table class="table table-dark table-striped">
  <thead>
      <tr>
        <th>Motif</th>
        <th>Montant</th>
        <th>Payé le</th>
        <th>Statut</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="tableRows">
      {% for token in tokens %}
      {% if token.token_bank_number %}
        <tr>
          <td>{{token.token_bank_number.motif}}</td>
          <td>{{token.token_bank_number.paid_amount}}</td>
          <td>{{token.token_bank_number.date}}</td>
          <td>{% if not token.validated %}
                Non validé
                {% else %}
                Validé
              {% endif %}
          </td>
          <td>
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewModal{{token.id}}" >View</button>
        </td>
      </tr>
      {% endif %}
        {% if token.token_bank_number2 %}
            <tr>
              <td>{{token.token_bank_number2.motif}}</td>
              <td>{{token.token_bank_number2.montant_paye}}</td>
              <td>{{token.token_bank_number2.date_paye}}</td>
              <td>{% if not token.validated %}
                    Non validé
                    {% else %}
                    Validé
                  {% endif %}
              </td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewModal{{token.id}}" >View</button>
              </td>
            </tr>
        {% endif %}

        <!--MODAL VIEW-->
    <div class="modal" id="viewModal{{ token.id }}">
      <div class="modal-dialog ">
        <div class="modal-content">

          <!-- Modal Header -->
          
          {% if token.token_bank_number %}
            <div class="modal-header">
              <h4 class="modal-title">Bordeareau N°{{ token.token_bank_number.token_number }}</h4>
              <span type="button" class="close" data-dismiss="modal" aria-label="Close">x</span>
            </div>
                        <!-- Modal body -->
            <div class="modal-body">
             <div class="container">
              <div class="card">
                <div class="card-header">
                  Date
                  <strong>{{ token.token_bank_number.date }}</strong> 
                    <span class="float-right"> <strong>Status:</strong>{% if token.validated %}
                      Validé
                      {% else %}
                      Non Validé
                    {% endif %}</span>
                      </div>
                        <div class="card-body">
                          <div class="row mb-4">
                            <div class="col">
                              <h6 class="mb-3">Bannque: {{token.token_bank_number.bank.name}}</h6>
                              <div>Nom et prenom : {{token.token_bank_number.customer.first_name}} {{token.token_bank_number.customer.last_name}} </div>
                              <div>Numero de compte :  {{token.token_bank_number.account_number}}</div>
                              <div>Nom du compte : {{token.token_bank_number.account_holder}} </div>
                              <div>Montant payé : {{token.token_bank_number.paid_amount}}</div>
                              <div>Motif : {{token.token_bank_number.motif}}</div>
                              <div>Date : {{token.token_bank_number.date}}</div>
                            </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
            {% else %}
            <div class="modal-header">
              <h4 class="modal-title">Bordeareau N°{{ token.token_bank_number2.num_recu }}</h4>
              <span type="button" class="close" data-dismiss="modal" aria-label="Close">x</span>
            </div>

            <div class="modal-body">
             <div class="container">
              <div class="card">
                <div class="card-header">
                  Date
                  <strong>{{ token.token_bank_number2.date_paye }}</strong> 
                    <span class="float-right"> <strong>Status:</strong>{% if token.validated %}
                      Validé
                      {% else %}
                      Non Validé
                    {% endif %}</span>
                      </div>
                        <div class="card-body">
                          <div class="row mb-4">
                            <div class="col">
                              <h6 class="mb-3">Bannque: {{token.token_bank_number.bank.name}}</h6>
                              <div>Nom et prenom : {{token.token_bank_number2.student.first_name}} {{token.token_bank_number.student.last_name}} </div>
                              <div>Montant payé : {{token.token_bank_number2.montant_paye}}</div>
                              <div>Motif : {{token.token_bank_number2.motif}}</div>
                              <div>Date : {{token.token_bank_number.date_paye}}</div>
                            </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
            {% endif %}

          </div>
        </div>


      {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}

{% if pending  %}
<div class="container">
  <h2 class="m-3">Deja payé</h2>
  <hr>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>          
  <table class="table table-dark table-striped">
  <thead>
      <tr>
        <th>Motif</th>
        <th>Montant</th>
        <th>Payé le</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="tableRows">
      <tr>
        <td>Minos 1 tranche</td>
        <td>150 000</td>
        <td>19-03-2020</td>
        <td>
        	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewModal" >View</button>
        </td>
      </tr>
      <tr>
        <td>Minos 1 tranche</td>
        <td>150 000</td>
        <td>19-03-2020</td>
        <td>
        	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewModal" >View</button>
        </td>
      </tr>
      <tr>
        <td>Minos 1 tranche</td>
        <td>150 000</td>
        <td>19-03-2020</td>
        <td>
        	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewModal" >View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!--MODAL VIEW-->
<div class="modal" id="viewModal">
              <div class="modal-dialog ">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Recu N°456</h4>
                     <span type="button" class="close" data-dismiss="modal" aria-label="Close">x</span>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
					 <div class="container">
						<div class="card">
							<div class="card-header">
								Invoice
								<strong>01/01/01/2018</strong> 
							  	<span class="float-right"> <strong>Status:</strong> Pending</span>

							</div>
							<div class="card-body">
								<div class="row mb-4">
									<div class="col-sm-6">
										<h6 class="mb-3">From:</h6>
										<div>
											<strong>Webz Poland</strong>
										</div>
										<div>Madalinskiego 8</div>
										<div>71-101 Szczecin, Poland</div>
										<div>Email: info@webz.com.pl</div>
										<div>Phone: +48 444 666 3333</div>
									</div>

									<div class="col-sm-6">
										<h6 class="mb-3">To:</h6>
										<div>
											<strong>Bob Mart</strong>
										</div>
										<div>Attn: Daniel Marek</div>
										<div>43-190 Mikolow, Poland</div>
										<div>Email: marek@daniel.com</div>
										<div>Phone: +48 123 456 789</div>
									</div>



							</div>
						</div>
						</div>
					</div>
                </div>
              </div>
            </div>

<!--END MODAL VIEW-->
{% endif %}

{% if validated %}
	<div class="container">
  <h2 class="m-3">Validés</h2>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>          
  <table class="table table-dark table-striped">
  <thead>
      <tr>
        <th>Motif</th>
        <th>Montant</th>
        <th>Payé le</th>
        <th>Validé le</th>
      </tr>
    </thead>
    <tbody id="tableRows">
      <tr>
        <td>Minos 1 tranche</td>
        <td>150 000</td>
        <td>19-03-2020</td>
        <td>20-03-2020</td>
      </tr>
      <tr>
        <td>Minos 1 tranche</td>
        <td>150 000</td>
        <td>19-03-2020</td>
        <td>20-03-2020</td>
      </tr>
      <tr>
        <td>Minos 1 tranche</td>
        <td>150 000</td>
        <td>19-03-2020</td>
        <td>20-03-2020</td>
      </tr>
    </tbody>
  </table>
</div>
{% endif %}

{% if errors %}
<div class="container">
  <h2 class="m-3">Erreurs ...</h2>
  <hr>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>          
  <table class="table table-dark table-striped">
  <thead>
      <tr>
        <th>Motif</th>
        <th>Montant</th>
        <th>Payé le</th>
        <th>Statut</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="tableRows">
      <tr>
        <td>Minos 1 tranche</td>
        <td>150 000</td>
        <td>19-03-2020</td>
        <td>Validé</td>
        <td>
        	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewModal" >Voir erreur</button>
        </td>
      </tr>
      <tr>
        <td>Minos 1 tranche</td>
        <td>150 000</td>
        <td>19-03-2020</td>
        <td>Non validé</td>
        <td>
        	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewModal" >Voir erreur</button>
        </td>
      </tr>
      <tr>
        <td>Minos 1 tranche</td>
        <td>150 000</td>
        <td>19-03-2020</td>
        <td>Validé</td>
        <td>
        	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewModal" >Voir erreur</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endif %}

{% endblock content %}