{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <title>Creer un compte</title>
</head>
<body>
    <div class="container">
        <div class="register">
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                    {{register_form.first_name}}
                    {{register_form.last_name}}
                    {{register_form.email}}
                    {{register_form.password}}
                    {{register_form.password2}}
                    {{register_form.avatar}}
                <button type="submit">S'inscrire</button>
            </form>
            <hr>
            <p class="small">Vous avez deja un compte? <a href="login.html">Se connecter</a></p>
        </div>
    </div>
</body>
</html>