{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <title>Se connecter</title>
</head>
<body>
    <div class="self-container">
        <div class="self-login">
            <form  method="post" action="{% url "register2" %}" enctype="multipart/form-data">
                {% csrf_token %}
                    {{profil_form.as_p}}
                <button type="submit">Update</button>
            </form>
            <hr>
            <div class="mot">
                <a href="" class="mot">Mot de passe oublie?</a>
            </div>
            <p class="small">Vous n'avez pas de compte? <a href="{% url "inscription" %}">Creer un compte.</a></p>
        </div>
    </div>
</body>
</html>